<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <link rel = "canonical" href = "https://multisnake.xyz">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.3.0/lightgallery.es5.min.js" integrity="sha512-aloRukU8p8Cp8M7cz0EE2GJW2GHRXb+RY1T8OcJ6SxHIgghCRlYnxf7labEYkl0npZiM2aeW7UXRMnzeJFGqNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <link rel = "icon" href= "multisnake-favicon.png">
    <script src="https://kit.fontawesome.com/ec5f6502ae.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name = "description" content = "MultiSnake is an MMS-Massively Multiplayer snake! Chat with other players, don't run into walls, and play in many different game modes!">
  <link href = "/css/home.css" rel = "stylesheet">
  <meta name="keywords" content = "multiplayer, snake, multiplayer snake, multisnake, sojs">
  {% block head %}
  <title>MultiSnake - Multiplayer Snake!</title>
  {% endblock %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBKFRBYTHY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-DBKFRBYTHY');
  </script>
</head>
<body>
  {% block main %}
  <main>
    <h1>Add Some content</h1>
  </main>
  {% endblock %}
  {% block footer %}
  <footer>
    <h3>Add some content</h3>
  </footer>
  {% endblock %}
</body>