{% extends "temp.njk" %}
{% block head %}
<title>494 | MultiSnake V2</title>
{% endblock %}
{% block main %}
<main class = "center">
    <header><h1>404</h1></header>
    <p>This page does not exist!</p>
    <p>If you think this is an error, feel free to <a href = "https://github.com/sojs-coder/MultiSnake-V2/issues">submit an issue</p>
<main>
{% endblock %}