{% extends "temp.njk" %}
{% block head %}
<script>window.userUid = "{{ user.uid }}"</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<title>Account | MultiSnake V2</title>
<style>
/* Custom styles for the account details */
.account-details {
      padding: 12px;
      margin: auto;
      width: 50%;
    }
</style>
{% endblock %}
{% block main %}
<header>

</header>

<main class="center top-20">
    <h1 class="heading">{{ viewing.username }}'s Account</h1>
    <div class="account-details">
        <p>User since 
            <script>
                var x = new Date({{ viewing.timestamp }}); 
                document.write(x.getMonth()+"."+x.getDate(0)+"."+x.getFullYear());
            </script>
        </p>
        <p><strong>Username:</strong> <span id = "username">{{viewing.username}}</span></p>
        <p><strong>Games Played:</strong> <span id = "gamesPlayed">{{viewing.gamesPlayed}}</span></p>
        <p><strong>Games Won:</strong> <span id = "gamesWon">{{viewing.gamesWon}}</span></p>
        <p><strong>Win/Loss Ration:</strong> <span id = "winLossRatio">{{viewing.gamesWon/viewing.gamesPlayed}}</span></p>
        {% if user %}
        <h3>How you compare</h3>
        <p>You have played {{ ((user.gamesPlayed/viewing.gamesPlayed)*100).toFixed(2) }}% as many games as {{ viewing.username }}</p>
        <p>Your WLR is {{ ((((user.gamesWon/user.gamesPlayed)/(viewing.gamesWon/viewing.gamesPlayed)) - 1) * 100).toFixed(2)}}% better than {{ viewing.username }}'s</p>
        {% endif %}
    </div>

</main>
{% endblock %}
{% block footer %}
<footer >&copy 2021-<script>document.write(new Date().getFullYear())</script> <a href= "https://45.33.54.245:3000">SoJS</a> | <a href = "https://socialrumbles.com/c/MultiSnake/">Social Rumbles</a> | <a href= "https://replit.com/@sojs">Repl.it</a> | <a href = "//discord.gg/Np7vBvEtp2">Discord</a> | <a href = "https://github.com/sojs-coder/Multisnake">Github</a></footer>



{% endblock %}