{% extends "temp.njk" %}
{% block head %}
<link href = "/css/developers.css" rel = "stylesheet">
<title>Developers | MultiSnake</title>
<script>window.userUID = "{{ user.uid }}"</script>
{% endblock %}

{% block main %}
{% if user %}
        <main class="main-center top-20">
            <section class = "bubble-75">
            
            {% if user.verified %}
            <div>
                <h1 class="heading">Developer Dashboard</h1>
                <p>Welcome to the developer dashboard</p>
            </div>
            <div class = "table-container">
                <table>
                    <thead class = "table-head">
                        <tr>
                            <th>ID</th>
                            <th class = "uid">Uid</th>
                            <th class = "manage">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for uid in user.api_keys.values %}
                            <tr class = "table-row" id="row-{{ loop.index0 }}">
                                <td><b>{{ loop.index0 }}</b></td>
                                <td class = "uid">{{ uid }}</td>
                                <td class = "manage">
                                    <button class = "btn btn-inline copy-key" data-row="{{ loop.index0 }}">Copy Key</button>
                                    <button class = "btn btn-danger btn-inline delete-key" data-row = "{{ loop.index0 }}">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button class = "btn" id = "add">Add Another Key</button>
            {% else %}
                <h1 class="heading">Developer Dashboard</h1>
                <p><a href = "/verifyEmail">Verify your email</a> to create bots<p>
            {% endif %}
            </section>
        </main>
{% else %}
        <main class="main-center">
            <h1 class="heading"><a href ="/login">Login</a> to access</h1>
            <p>The developer dashboard</p>
        </main>
{% endif %}
{% endblock %}
{% block footer %}
    <script src = "/js/developers.js"></script>
{% endblock %}