{% extends "temp.njk" %}
{% block head %}
<title>MultiSnake V2</title>
{% endblock %}
{% block main %}
<div id = "alert-box"></div>
 <main>
  <section class = "main-center top">
    
    <div class = "form" action = "/play" id = "form">
    <h1 class = "heading" id = "big">MultiSnake</h1>
      <input type = "text" id = "username" name = "username" placeholder="Bob Joe" autofocus>
      <button type = "button" id = "join">Join</button>
      <p style = 'color: #aaa'><b>New!</b> VERSION 2.1 UPDATE <a href = "#2.1.0">Read the full changelog</a></i></p>
      <div id = "room-box">
        <div id = "rooms-plain"></div>
        <div id = "rooms-mods"></div>
      </div>
      <div class = "bottom"><div class="arrow bounce"><a class="fa fa-arrow-down fa-2x arrow-" href="#welcome_to_multisnake"></a></div></div>
    </div>
    
  </section>
  
 <section class="below">
  <div class = "content">
  <h3 id = "welcome_to_multisnake">Welcome to MultiSnake V2</h3>
    <p>How to play</p>
    <p>WASD or arrow keys to turn your snake. Don't run into the walls or other snakes. Eat the apples<p>
    <p>Walls spawn in as more apples are eaten. When snakes have a head on collison, the longer snake wins. If they have the same length, they both die.</p>
    <h2>Changelog</h2>
    <div class = "changelog top">
      <div class = "log" id = "1.0.0">
        <div class = "log-title">
          <div class = "log-version-number">1.0.0</div>
          <div class = "log-tags">[First][yay][lets-go-party]</div>
          <div class = "log-time">A while ago</div>
        </div>
        <div class = "log-des">
          Got the first version of multisnake to work. Its nice and ugly, but whatever. The code is all there.
        </div>
      </div>
      <div class = "log" id = "1.2.0">
        <div class = "log-title">
          <div class = "log-version-number">1.2.0</div>
          <div class = "log-tags">[Update][Huge][stylesheet][fog_of_war][small_map]</div>
          <div class = "log-time">9.29.21</div>
        </div>
        <div class = "log-des">
          Huge new update! <br>
          <br>Chat now works!
          <img src = "multisnake-logs-images/chat(1).png" alt = "chat">
          <a href = "https://multisnake.45.33.54.245:3000/">https://multisnake.45.33.54.245:3000</a> now redirects to <a href = "https://multisnake.xyz/">https://mulitsnake.xyz</a> without problem. 
          <img src = "multisnake-logs-images/redirecting-to.png" alt = "redirecting to multisnake.xyz">
          The two highly talked about mods have finally been released! <br>
          <b>FOG OF WAR</b>
          <img src = "multisnake-logs-images/fog_of_war.png" alt = "fog of war">
          Fog is generated as the game goes. You cannot see other people in it. Have fun! <br>
          <b>SMALL MAP</b><br>
          <img src = "multisnake-logs-images/small-map.png">
          A tiny little map. <br> 
          <i>Note: No obstacles spawn on mods.</i><br>
          New Update also includes: new stylesheet
          <img src = "multisnake-logs-images/new-stylesheet-1.2.0.png">
          (don't worry, you still type in your username)
          <img src = "multisnake-logs-images/new-stylesheet-1.2.0(1).png">
          

          <b>SOON TO COME:</b>
          <br>Bots - I will be making a website where you can make your own and submit them. That way, there will always be people to play against. You will know that they are a bot because their username will be [BOT].bot name. (Made by .username.), where people who submit a bot choose the name. <br>
          <b>MORE THAT CAME OUT IN THE UPDATE:</b><br>
          <i>an API!!!</i>
          <br>This can be used to make a variety of projects. It is currently used in the site to tell how many people are online Currently its only endpoint it <a href = "https://multisnake.xyz/api/v1/rooms">https://multisnake.xyz/api/v1/rooms</a> that gives you a nice list of rooms, their names, the people in them, the quantity of snakes in them, the type of room, the last time it was visited, and more!
        </div>
      </div>
      <div class = "log" id = "1.2.1">
        <div class = "log-title">
          <div class = "log-version-number">1.2.1</div>
          <div class = "log-tags">[Update][Not-that-incredible][bugfix]</div>
          <div class = "log-time">9.30.21</div>
        </div>
        <div class = "log-des">
          - new styling for game page. <br>
          - online counter from <a href = "#1.2.0">1.2.0</a> now works. <br>
          Images of  styling:
          <img src =  "multisnake-logs-images/chat.png">
          <img src =  "multisnake-logs-images/chat-2.png">
        </div>
      </div>
      <div class = "log" id = "1.2.2">
        <div class = "log-title">
          <div class = "log-version-number">1.2.2</div>
          <div class = "log-tags">[Update][new][Not-that-incredible][bugfix]</div>
          <div class = "log-time">10.1.21</div>
        </div>
        <div class = "log-des">
          - fixed online counter on fog and small maps
        </div>
      </div>
      <div class = "log" id = "1.2.3">
        <div class = "log-title">
          <div class = "log-version-number">1.2.3</div>
          <div class = "log-tags">[Update][new][accessibility]</div>
          <div class = "log-time">10.1.21</div>
        </div>
        <div class = "log-des">
          - the snake colors are now more contrasting for the color blind.
        </div>
      </div>
      <div class = "log" id = "1.3.3">
        <div class = "log-title">
          <div class = "log-version-number">1.3.3</div>
          <div class = "log-tags">[UPDATE][new][MOD][STYLESHEET]</div>
          <div class = "log-time">10.21.21</div>
        </div>
        <div class = "log-des">
          Hey everyone! Huge new update here! This one includes:
          <ul>
            <li>Push to cloudflare (more secure and faster for you)</li>
            <li>New loading screen + tips</li>
            <li>New homepage with fancy bouncing arrow animation <del>not from codepen</del></li>
            <li>Tips and tricks if ya click that down arrow!</li>
            <li><b>[mod]</b> A new mod! TAG mode! Eat apples to become "it" and tag other players to kill them!w Get to ten to win! Wow!!</li>
            <li>Put a boot onto the repl- even faster now!</li>
          </ul>
          Cool photos and videos of the update below.
          <video src = "multisnake-logs-images/new-text.webm" controls>Uh oh! The video wont load!</video>
          <img src  = "multisnake-logs-images/loading-screen.png">
          <img src = "multisnake-logs-images/text-update.png">
        </div>
      </div>
      <div class = "log" id = "1.3.4">
        <div class = "log-title">
          <div class = "log-version-number">1.3.4</div>
          <div class = "log-tags">[BUGFIX][new][wierd replit bug thingy]</div>
          <div class = "log-time">10.27.21</div>
        </div>
        <div class = "log-des">
          - the game runs now. Files got corrupted when committing to github through replit.
        </div>
      </div>
      <div class = "log" id = "1.4.5">
        <div class = "log-title">
          <div class = "log-version-number">1.4.5</div>
          <div class = "log-tags">[UPDATE][new][mod][REDLIGHT_GREENLIGHT][code_readability]</div>
          <div class = "log-time">11.02.21</div>
        </div>
        <div class = "log-des">
          Hiya everyone!
          <br>
          Just released another mod, super excited for that!! This one was suggested by <a href = "https://replit.com/@rickysong">@rickysong</a>, and it is a lot of fun! It is the same concept as classic snake, but you have to freeze when the light turns red otherwise you'll die! Don't worry though- the light will turn yellow first so you know to smash the spacebar down and hold it there until it goes back to green. It's a lot of fun, go try it out. <br>
          Also, the readablity of the code has been greatly increased, and I have explained in comments throughout what each line does, so you can go and understand it.
          <br>
          The next update will be huge. I am rewriting all of multisnakes code to make it faster and more efficient, but it will take time, so be patient.
          <video src = "multisnake-logs-images/redlight.webm" controls>Uh no! This video wont load!</video>

        </div>
      </div>
      <div class = "log" id = "1.4.6">
        <div class = "log-title">
          <div class = "log-version-number">1.4.6</div>
          <div class = "log-tags">[UPDATE][new][changelog]</div>
          <div class = "log-time">11.14.21</div>
        </div>
        <div class = "log-des">
          - Added a changelog and updated the text. This took so long.
          <img src = "multisnake-logs-images/changelog.png">
        </div>
      </div>
      <div class = "log" id = "1.4.7">
        <div class = "log-title">
          <div class = "log-version-number">1.4.7</div>
          <div class = "log-tags">[UPDATE][new][bots][AI][REDLIGHT_GREENLIGHT][CLASSIC][SMALL][FOG]</div>
          <div class = "log-time">3.2.22</div>
        </div>
        <div class = "log-des">
            Bots now play with you with an incredible AI, they're hard to beat!<br>
          Want to sumbit your own AI? View our <a href = '/AI/docs'>docs</a>.
          <img src = "multisnake-logs-images/bots.png">
        </div>
      </div>
      <div class = "log" id = "2.0">
        <div class = "log-title">
          <div class = "log-version-number">2.0</div>
          <div class = "log-tags">[UPDATE][new][MAJOR]</div>
          <div class = "log-time">5.12.23</div>
        </div>
        <div class = "log-des">
            <h3>This is wild</h3>
          <p>Story by @sojs</p>
          <p>Rejuvinating a dead project. Breathing life into what once was</p>
          <p>Thousands of views a day on multisnake. I hop on to the servers at any time of day and hang out with 7 other snakes, have massive battles in fog of war, play some tag</p>
          <p>A month later, I get blocked by all major internet safety providers, such as lightspeed user agent. No one can play this at school anymore, my views plummet. The project falls into disrepair. A year later, I decided this would have to change. Here is what I did.</p>
          <p>I completely revamped the game interace</p>
          <img src = "multisnake-logs-images/revamped.png" />
          <img src = "multisnake-logs-images/gameplay_v2.png" />
          <p>Made the code intuitive to read, with a fully class-based structure for incredible scalability.</p>
          <p>Added full documentation to every class, descriptions of functions, parameters, etc. Commments on most of the files.</p>
          <p>Switched from HTML table to HTML canvas. You can now get 60 FPS + a little bit of jitter based on your internet connection</p>
          <img src = "multisnake-logs-images/gameplay_v2_1.png">
          <p>Added a dev mode (put your username as "dev" to get it) for a more in depth view of how the game works under the hood</p>
          <img src = "multisnake-logs-images/dev_mode.png">
          <p>Updated the bots! If I do say so myself, they are almost impossible to detect from the players (except when they all move in sync)</p>
          <p>Added intelligent spawning. This one is crazy. I generate a gradient map of all the danger spots on the map, then use this to determine the least dangerous spawn zone and the least dangerous spawn direction.</p>
          <p>Have fun!</p>
        </div>
      </div>
      <div class = "log" id = "2.1.0">
        <div class = "log-title">
            <div class = "log-version-number">2.1.0</div>
            <div class = "log-tags">[UPDATE][signup][mods][nginx]</div>
            <div class = "log-time">5.31.22</div>
        </div>
        <div class = "log-des">
            <h2 id="updated-to-v2-1-0">Updated to V2.1.0</h2>
            <h3 id="changes">Changes</h3>
            <h4 id="added-classic-map">Added classic map</h4>
            <ul>
                <li>No walls spawn, get 10 apples to win</li>
            </ul>
            <h4 id="added-small-map">Added Small Map</h4>
            <ul>
                <li>This was easy as I just had to change the &quot;size&quot; parameter</li>
                <li>Added some query strings so that you could change room type</li>
                <li>Updated to way the board was drawn to display different map sizes</li>
            </ul>
            <h4 id="added-login-signup-system">Added Login/Signup system</h4>
            <ul>
                <li>connect to AWS dynamoDB to create account</li>
                <li>Some express session to manage them</li>
                <li>added the ability to click on logged in users from the leader board to view their stats</li>
                <li>emails are private dont worry (I just need to validate them for chat- this is powerd by amazon SES)</li>
            </ul>
            <h4 id="added-fun-api-token-generation">Added fun API Token generation</h4>
            <ul>
                <li>This is to prevent bots from connecting and impersonating other player</li>
                <li>Here how it works
                    <ol>
                        <li>A user connect, server sends request to reCaptcha</li>
                        <li>If the user is judged to not be a bot, an API key is generated and sent back to the client</li>
                        <li>The client then sends the API key along with their JOIN_REQUEST</li>
                        <li>The server checks to see if the key is valid, then assigns it their snakes UID</li>
                        <li>Whenever they change direction, they also send their API key, which is checked against their UID</li>
                    </ol>
                </li>
            </ul>
            <h3>More on bots</h3>
            <p>Support for custom bots will be rolling out soon, once I write some tutorials on how to connect and make them, as well come up with a protocol for them to get API keys that dont expire (this is already in the code, I just have to figure out how to assign them to people on request)</p>
        </div>
      </div>
    </div>
</section>
</main>
{% endblock %}
{% block footer %}
<footer class = "weird-footer">&copy 2021-<script>document.write(new Date().getFullYear())</script> <a href= "https://45.33.54.245:3000">SoJS</a> | <a href = "https://socialrumbles.com/c/MultiSnake/">Social Rumbles</a> | <a href= "https://replit.com/@sojs">Repl.it</a> | <a href = "//discord.gg/Np7vBvEtp2">Discord</a> | <a href = "https://github.com/sojs-coder/Multisnake">Github</a></footer>

<script src = "/js/home.js"></script>
{% endblock %}