{% extends "temp.html" %}

{% block head %}
<title>MultiSnake | Play</title>
<script src="/socket.io/socket.io.js"></script>
<script>
  window.socket = io();
  window.room = "{{ room }}";
</script>
<link rel = "stylesheet" href = "/css/game.css" type = "text/css">
{% endblock %}
{% block main %}
<div class="container">
  <div class="left">
    <div class="leaderboard">
      <h1>Leaderboard <div class = "player"><span id = "apples">0</span> 🍎</div></h1>
      <ul id = "leaders">

      </ul>
    </div>
    <div class="chat">
      <div class="chat_messages">
        <div class = "message_list">
          
        </div>
      </div>
      <div class="chat_input">
        <input type="text" placeholder="Enter to focus chat" id = "chatinput">
        <button id = "sendchat">Send</button>
      </div>
    </div>

  </div>
  <div class="game">
    <canvas width = "500" height = "500"></canvas>
  </div>
</div>
{% endblock %}

{% block footer %}
<script src = "/js/play.js" defer></script>

{% endblock %}